*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --base-dark-color: #020c14;
  --primary-dark-color: #fff;
  --secondary-dark-color: #ffc600;
}

body{
  /* background: url(./Resources/Images/background.jpg) bottom center;
  background-size: cover; */
  background: var(--base-dark-color);
  font-family: 'Roboto Slab', serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 10px;
}

.drum{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  color: var(--secondary-dark-color);
  font-size: 1rem;
  /* border: rgb(45, 175, 214) solid 6px; */
}
.drum-key{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 7.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border: rgb(0, 0, 0) solid 4px;
  border-radius: 6px;
  padding: .6rem .2rem .4rem;
}

.drum-key .title{
  font-size: 2.4rem;
  color: var(--primary-dark-color);
}
.drum-key .des{
  font-size: .8rem;
  color: var(--secondary-dark-color);
}

.playing {
  transform: scale(1.1);
  border-color: var(--secondary-dark-color);
  box-shadow: 0 0 1rem --secondary-dark-color;
}